{{question.q_text}}


<form method="POST", action="{% url 'vote:detail' question.id %}">
    {% csrf_token %}
    <fieldset>
        <h1>{{question.q_text}}</h1>

        {% if error_message %}<p>{{error_message}}</p>
        {% endif %}

        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" value="{{choice.id}}" id="{{foorloop.counter}}">
        <label for="choice{{ forloop.counter }}">{{ choice.c_text}}{{choice.id}}</label><br>
        

{% endfor %}
<input type="submit" value="submit">
    </fieldset>
</form>